.accordion {
    height: 55px;
    margin-bottom: 20px;
}

.skeleton-row {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0;
    box-sizing: border-box;
}

.skeleton-box {
    background: linear-gradient(90deg, #001a23 25%, #00202b 50%, #002531 75%);
    background-size: 200% 100%;
    animation: loading 1.5s infinite;
}

.skeleton-box.title {
    flex-basis: 70%;
    height: 10px;
}

.skeleton-box.body {
    width: 100%;
    flex: 1;
    height: 55px;
    margin-bottom: 10px;
}

@keyframes loading {
    0% {
        background-position: 200% 0;
    }

    100% {
        background-position: -200% 0;
    }
}