.footer-container {
   height: 5rem;
   display: flex;
   font-size: 1rem;
}

.signIn-button {
   width: 100%;
   height: 3rem;
   width: 12rem;
   margin-left: 2rem;
   margin-top: 1.2rem;
   font-size: 1.2rem;
   font-weight: 500;
   border-radius: 10px;
   border: none;
}

.create-account-text {
   margin-top: 2rem;
}

.signIn-text {
   width: 18rem;
}
